{% extends 'base.html' %} {% block content %}
<!-- Header Area Starts -->
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <p>Translat<span>able</span></p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="index.html">home</a></li>
                            <li><a href="#">Freelancers</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Find jobs</a></li>
                                    <li><a href="#">Create profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Employers</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Post job</a></li>
                                    <li><a href="#">Find freelancer</a></li>
                                </ul>
                            </li>
                            <li class="menu-btn">
                                <a href="#" class="login">log in</a>
                                <a href="#" class="template-btn">sign up</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>Freelancer Name</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Job Single Content Starts -->
<section class="job-single-content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-2">
                <form>
                    <div class="mt-10">
                        <input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input">
                    </div>
                    
                    <div class="radio-group mt-10">
                        <label>Tyoe: </label>
                        <div class="inline ">
                            <div class="switch-wrap d-flex justify-content-start">
                                <p>female</p>
                                <div class="confirm-radio">
                                    <input type="radio" id="Company" name="confirm-radio">
                                    <label for="Company"></label>
                                </div>
                            </div>
                            <div class="switch-wrap d-flex justify-content-start">
                                <p>Male</p>
                                <div class="confirm-radio">
                                    <input type="radio" id="individual " name="confirm-radio">
                                    <label for="individual"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="upload-img">
                            <label class="custom-file-label" for="upload-img">Upload Image</label>
                        </div>
                    </div>

                    <div class="mt-10">
                        <textarea class="single-textarea" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'" required=""></textarea>
                    </div>
                    <button class="template-btn mt-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Job Single Content End -->


<script type="text/javascript">
    // var input_badge = document.getElementById("input-badge");
    // input_badge.addEventListener("keypress", function(key) {
    //     if (key.which == "44" || key.keyCode == "44") {
    //         alert(input_badge.value)
    //         var skill = input_badge.value.split(",").pop();
    //         $( "#skills-badge" ).append( "<span class='badge badge-light'>" + skill + " <a onclick='delete_badge()'>x</a> </span>" );
    //         // input_badge.value = "";

    //         // document.getElementById("").append("<span>" + skill + "</span>");
    //     }
    // });

    // function delete_badge(){
    //     alert(this.closest("span"))
    //     // this.parentElement.style.display = 'none';
    // }
</script>





{% endblock %}
