{% extends 'base.html' %}
{% block content %}

    <!-- Header Area Starts -->
	<header class="header-area main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="{% url 'index' %}"><p>Translat<span>able</span></p></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">home</a></li>
                            {% if user.is_authenticated %}
                                {% if user.is_employer%}
                                    <li><a href=" {% url 'create_job' %} ">Post job</a></li>
                                    <li><a href="{% url 'freelancers' %} ">Find freelancer</a></li>
                                {% else %}
                                    <li><a href="{% url 'jobs' %}">Find jobs</a></li>
                                {% endif %}
                            {% else %}
                            <li><a href="#">Freelancers</a>
                            <ul class="sub-menu">
                                    <li><a href="{% url 'jobs' %}">Find jobs</a></li>
                                    <li><a href="{% url 'signup_freelancer' %}">Create profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Employers</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'signup_employer' %}">Post job</a></li>
                                    <li><a href="{% url 'freelancers' %}">Find freelancer</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            
                            <li class="menu-btn">
                                {% if user.is_authenticated %}
                                    <ul>
                                        <li><a href="#">Hi <b>{{request.user.first_name}}</b><i class="fa fa-caret-down ml-2" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                {% if user.is_employer%}
                                                <li><a href="{% url 'profile_employer' %}" class="Profile">My Profile</a></li>
                                                <li><a href="{% url 'employer_payment' %}" class="Profile">Payments</a></li>
                                                {%else%}
                                                <li><a href="{% url 'profile_freelancer' %}" class="Profile">My Profile</a></li>
                                                <li><a href="{% url 'freelancer_payment' %}" class="Profile">Payments</a></li>
                                                {% endif %}
                                                <li><a href="{% url 'login' %}" class="">log out</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% else %}
                                <a href="{% url 'login' %}" class="login">log in</a>
                                <a href="{% url 'signup_global' %}" class="template-btn">sign up</a>
                                {% endif %}
                               
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 px-0">
                    <div class="banner-bg"></div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="banner-text">
                        {% if user.is_authenticated %}
                                {% if user.is_employer%}
                                <h1>find your professional<span>translator</span> with Translatable </h1>
                                {% else %}
                                <h1>find your ideal <span>translate job</span> with Translatable </h1>
                                {% endif %}
                        {% else%}
                        <h1>find your professional<span>translator</span> with Translatable </h1>
                        <a href="{% url 'signup_freelancer' %}" class="genric-btn green radius">Apply as Freelancer</a>
                        <a href="{% url 'signup_employer' %}" class="genric-btn green radius">Apply sa Employer</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->



    <!-- Feature Area Starts -->
    <section class="feature-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>How its work</h2>
                        <p>get your job done easily and smoothly</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature one mb-4 mb-lg-0">
                        <h4>Post A job</h4>
                        <p class="py-3">A very easy and smooth way to create a job post and choosing the language and skills your project require.</p>
                        <!--<a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature two mb-4 mb-lg-0">
                        <h4>Browse proposales, profiles, reviews</h4>
                        <p class="py-3">browse the proposal you're getting in your project and check the candidate profile and reviews.</p>
                        <!--<a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature three mb-4 mb-lg-0">
                        <h4>Hire your professional candidate</h4>
                        <p class="py-3">Hire your preferred candidate and get your job done! your deposit will released upon your satisfaction.</p>
                        <!--<a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

    <!-- Category Area Starts -->
    <section class="category-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Find job by category</h2>
                        <p>Choose a Service and find related jobs</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/translate-icon.png" width="50" alt="category">
                        <h4>Translate</h4>
                        <h5><a href="{% url 'jobs' %}" class="secondary-btn">{{translating_jobs}} open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/editing.png" width="50" alt="category">
                        <h4>Editing</h4>
                        <h5><a href="{% url 'jobs' %}" class="secondary-btn">{{expert_jobs}} open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/proofreading.png" width="50" alt="category">
                        <h4>Proofreading</h4>
                        <h5><a href="{% url 'jobs' %}" class="secondary-btn">{{proofreading_jobs}} open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/writing.png" width="50" alt="category">
                        <h4>Writing</h4>
                        <h5><a href="{% url 'jobs' %}" class="secondary-btn">{{writing_jobs}} open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area End -->

    <!-- Jobs Area Starts -->
    <section class="jobs-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jobs-title">
                        <h2>Browse recent jobs</h2>
                    </div>
                </div>
            </div>
            <div class ="row" >
                <div class="col-lg-12">
                    {% for job in top_two_jobs_list %}
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>{{job.name}}</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3">
                                            <h5><b>{{job.service}}</b></h5>
                                        </li>
                                        <li class="mb-3">
                                            <h5> <strong>Employer :</strong> {{job.employer.first_name}} {{job.employer.last_name}}</h5>
                                        </li>
                                        <li class="mb-3">
                                            <h5> <strong>languages : </strong>
                                            {% for lang in languges %}
                                                <span class="badge badge-light">{{lang}}</span>
                                            {% endfor %}
                                            </h5>
                                        </li>
                                        <li class="mb-3">
                                            <h5><strong> timeperiod :</strong> {{job.timeperiod}}</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="job-btn align-self-center">
                                    {% if user.is_authenticated %}
                                    <a href="job/{{job.id}}" class="third-btn">More details</a>
                                    {% else %}
                                    <a href="{% url 'login' %}" class="third-btn">More details</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor%}
                </div>
            </div>


        </div>
    </section>
    <!-- Jobs Area End -->

    <!-- Employee Area Starts -->
    <section class="employee-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Top Freelancers</h2>
                        <p>See the top freelancers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="employee-slider owl-carousel">
                        
                        {% for review in top_two_reviews_list %}
                        <div class="single-slide d-sm-flex">
                            <div class="slide-img">
                                <img src="{{review.freelancer.image.url}}"></img>
                                <div class="hover-state">
                                    <div class="hover-text text-center">
                                        <h3>{{review.freelancer.first_name}} <br>{{review.freelancer.last_name}}</h3>
                                        <h5>{{review.freelancer.title}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-text align-self-center">
                                <i class="fa fa-quote-left"></i>
                                <p>{{review.description}}</p>
                                {% if user.is_authenticated %}
                                    {% if request.user.id == review.freelancer.id %}
                                    <p><a href="{% url 'profile_freelancer' %}" class="secondary-btn">Check profile<span class="flaticon-next"></span></a></p>
                                    {% else %}
                                    <p><a href="view_profile_freelancer/{{review.freelancer.id}}" class="secondary-btn">Check profile<span class="flaticon-next"></span></a></p>
                                    {% endif %}
                                {% else %}
                                <p><a href="view_profile_freelancer/{{review.freelancer.id}}" class="secondary-btn">Check profile<span class="flaticon-next"></span></a></p>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Employee Area End -->

{% endblock %}