{% extends 'base.html' %}
{% block content %}

    <!-- Header Area Starts -->
	<header class="header-area main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <p>Translat<span>able</span></p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="index.html">home</a></li>
                            <li><a href="#">Freelancers</a>
                            <ul class="sub-menu">
                                    <li><a href="jobs">Find jobs</a></li>
                                    <li><a href="signup_freelancer">Create profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Employers</a>
                                <ul class="sub-menu">
                                    <li><a href="job_post">Post job</a></li>
                                    <li><a href="find_freelancer">Find freelancer</a></li>
                                </ul>
                            </li>
                            <li class="menu-btn">
                                <a href="login" class="login">log in</a>
                                <a href="signup_global" class="template-btn">sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 px-0">
                    <div class="banner-bg"></div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="banner-text">
                        <h1>find your professional<span>translator</span> with Translatable </h1>
                        <a href="signup_freelancer" class="genric-btn green radius">Apply as Freelancer</a>
                        <a href="signup_employer" class="genric-btn green radius">Apply sa Employer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Search Area Starts -->
    <div class="search-area">
        <div class="search-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#" class="d-md-flex justify-content-between">
                            <select class="search-select">
                                <option value="1">All Services</option>
                                <option value="2">Part Time</option>
                                <option value="3">Full Time</option>
                                <option value="4">Remote</option>
                                <option value="5">Office Job</option>
                            </select>
                            <select class="search-select">
                                <option value="1">Languages</option>
                                <option value="2">Dhaka</option>
                                <option value="3">Rajshahi</option>
                                <option value="4">Barishal</option>
                                <option value="5">Noakhali</option>
                            </select>
                            <input type="text" placeholder="Search Keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'" required>
                            <button type="submit" class="template-btn">find job</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Area End -->

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>How its work</h2>
                        <p>get your job done easily and smoothly</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature one mb-4 mb-lg-0">
                        <h4>Post A job</h4>
                        <p class="py-3">A very easy and smooth way to create a job post and choosing the language and skills your project require.</p>
                        <!--<a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature two mb-4 mb-lg-0">
                        <h4>Browse proposales, profiles, reviews</h4>
                        <p class="py-3">browse the proposal you're getting in your project and check the candidate profile and reviews.</p>
                        <!--<a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>-->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature three mb-4 mb-lg-0">
                        <h4>Hire your professional candidate</h4>
                        <p class="py-3">Hire your preferred candidate and get your job done! your deposit will released upon your satisfaction.</p>
                        <!--<a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

    <!-- Category Area Starts -->
    <section class="category-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Find job by category</h2>
                        <p>Choose a Service and find related jobs</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/translate-icon.png" width="50" alt="category">
                        <h4>Translate</h4>
                        <h5><a href="#" class="secondary-btn">250 open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/editing.png" width="50" alt="category">
                        <h4>Editing</h4>
                        <h5><a href="#" class="secondary-btn">250 open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/proofreading.png" width="50" alt="category">
                        <h4>Proofreading</h4>
                        <h5><a href="#" class="secondary-btn">250 open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-category text-center mb-4">
                        <img src="static/images/writing.png" width="50" alt="category">
                        <h4>Writing</h4>
                        <h5><a href="#" class="secondary-btn">250 open job<span class="flaticon-next"></span></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Category Area End -->

    <!-- Jobs Area Starts -->
    <section class="jobs-area section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jobs-title">
                        <h2>Browse recent jobs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jobs-tab tab-item">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="true">recent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="translate-tab" data-toggle="tab" href="#translate" role="tab" aria-controls="translate" aria-selected="false">Translate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="writing-tab" data-toggle="tab" href="#writing" role="tab" aria-controls="writing" aria-selected="false">Writing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="editing-tab" data-toggle="tab" href="#editing" role="tab" aria-controls="editing" aria-selected="false">Editing</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="home-tab">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>Assistant Executive - Production/ Quality Control</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="job" class="third-btn">More details</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="translate" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>Asst. Manager, Production (Woven Dyeing)</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="job" class="third-btn">More details</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="writing" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>Deputy Manager/ Assistant Manager - Footwear</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="job" class="third-btn">More details</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="editing" role="tabpanel" aria-labelledby="contact-tab2s">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4>R&D Manager (Technical Lab Department)</h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                        <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                        <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                    </ul>
                                </div>
                                <div class="job-btn align-self-center">
                                    <a href="job" class="third-btn">More details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="more-job-btn mt-5 text-center">
                <a href="jobs" class="template-btn">more job posts</a>
            </div>
        </div>
    </section>
    <!-- Jobs Area End -->

    <!-- Employee Area Starts -->
    <section class="employee-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Top Freelancers</h2>
                        <p>See the top freelancers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="employee-slider owl-carousel">
                        <div class="single-slide d-sm-flex">
                            <div class="slide-img">
                                <img src="static/images/user-image.png"></img>
                                <div class="hover-state">
                                    <div class="hover-text text-center">
                                        <h3>david aron</h3>
                                        <h5>Facebook</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-text align-self-center">
                                <i class="fa fa-quote-left"></i>
                                <p>Appear, called day. Sixth two after eve moved called winged very heaven two lights let all third gathered.</p>
                                <p><a href="profile_freelancer" class="secondary-btn">Check profile<span class="flaticon-next"></span></a></p>
                            </div>
                        </div>
                        <div class="single-slide d-sm-flex">
                            <div class="slide-img">
                                <img src="static/images/user-image.png"></img>
                                <div class="hover-state">
                                    <div class="hover-text text-center">
                                        <h3>david aron</h3>
                                        <h5>Twitter</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-text align-self-center">
                                <i class="fa fa-quote-left"></i>
                                <p>Appear, called day. Sixth two after eve moved called winged very heaven two lights let all third gathered.</p>
                                <p><a href="profile_freelancer" class="secondary-btn">Check profile<span class="flaticon-next"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-job-btn mt-5 text-center">
                <a href="freelancers" class="template-btn">Mre Profiles</a>
            </div>
        </div>
    </section>
    <!-- Employee Area End -->

{% endblock %}