{% extends 'base.html' %} {% block content %}
<!-- Header Area Starts -->
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="{% url 'index' %}"><p>Translat<span>able</span></p></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">home</a></li>
                            {% if user.is_authenticated %}
                                {% if user.is_employer%}
                                    <li><a href=" {% url 'create_job' %} ">Post job</a></li>
                                    <li><a href="{% url 'freelancers' %} ">Find freelancer</a></li>
                                {% else %}
                                    <li><a href="{% url 'jobs' %}">Find jobs</a></li>
                                {% endif %}
                            {% else %}
                            <li><a href="#">Freelancers</a>
                            <ul class="sub-menu">
                                    <li><a href="{% url 'jobs' %}">Find jobs</a></li>
                                    <li><a href="{% url 'signup_freelancer' %}">Create profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Employers</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'signup_employer' %}">Post job</a></li>
                                    <li><a href="{% url 'freelancers' %}">Find freelancer</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            
                            <li class="menu-btn">
                                {% if user.is_authenticated %}
                                    <ul>
                                        <li><a href="#">Hi <b>{{request.user.first_name}}</b><i class="fa fa-caret-down ml-2" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                {% if user.is_employer%}
                                                <li><a href="{% url 'profile_employer' %}" class="Profile">My Profile</a></li>
                                                <li><a href="{% url 'employer_payment' %}" class="Profile">Payments</a></li>
                                                {%else%}
                                                <li><a href="{% url 'profile_freelancer' %}" class="Profile">My Profile</a></li>
                                                <li><a href="{% url 'freelancer_payment' %}" class="Profile">Payments</a></li>
                                                {% endif %}
                                                <li><a href="{% url 'login' %}" class="">log out</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% else %}
                                <a href="{% url 'login' %}" class="login">log in</a>
                                <a href="{% url 'signup_global' %}" class="template-btn">sign up</a>
                                {% endif %}
                               
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>Payments</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Contact Form Starts -->
<div class="main-container">
<section class="contact-form py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% if user.is_employer %}
                    {% if employer_payment|length > 0 %}
                        <table class="table mt-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Project</th>
                            <th scope="col">freelancer</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment date</th>
                            <th scope="col">released Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in employer_payment %}
                        <tr>
                         <th scope="row">{{ forloop.counter }}</th>
                         <td>{{payment.project.name}}</td>
                         <td>{{payment.freelancer.first_name}} {{payment.freelancer.last_name}}</td>
                         <td>${{payment.project.budget}}</td>
                         <td>{{payment.payment_date}}</td>
                         <td>
                             {% if payment.release_date %}
                             {{payment.release_date}}
                             {% else %}
                             Not Released 
                             {% endif %}
                         </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    {% else %}
                        <p>No payment has been made</p>
                    {% endif %}
                {% else %}
                    {% if freelancer_payment|length > 0 %}
                        <table class="table mt-4">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Project</th>
                                <th scope="col">employer</th>
                                <th scope="col">Amount</th>
                                <th scope="col">released Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in freelancer_payment %}
                            <tr>
                             <th scope="row">{{ forloop.counter }}</th>
                             <td>{{payment.project.name}}</td>
                             <td>{{payment.freelancer.first_name}} {{payment.freelancer.last_name}}</td>
                             <td>${{payment.project.budget}}</td>
                             <td>{{payment.release_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>No payment has been received</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div>
</section>
</div>
<!-- Contact Form End -->

{% endblock %}
