{% extends 'base.html' %} {% block content %}
<!-- Header Area Starts -->
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="{% url 'index' %}"><p>Translat<span>able</span></p></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">home</a></li>
                            {% if user.is_authenticated %}
                                {% if user.is_employer%}
                                    <li><a href=" {% url 'create_job' %} ">Post job</a></li>
                                    <li><a href="{% url 'freelancers' %} ">Find freelancer</a></li>
                                {% else %}
                                    <li><a href="{% url 'jobs' %}">Find jobs</a></li>
                                {% endif %}
                            {% else %}
                            <li><a href="#">Freelancers</a>
                            <ul class="sub-menu">
                                    <li><a href="{% url 'jobs' %}">Find jobs</a></li>
                                    <li><a href="{% url 'signup_freelancer' %}">Create profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Employers</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'signup_employer' %}">Post job</a></li>
                                    <li><a href="{% url 'freelancers' %}">Find freelancer</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            
                            <li class="menu-btn">
                                {% if user.is_authenticated %}
                                    <ul>
                                        <li><a href="#">Hi <b>{{request.user.first_name}}</b><i class="fa fa-caret-down ml-2" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                {% if user.is_employer%}
                                                <li><a href="{% url 'profile_employer' %}" class="Profile">My Profile</a></li>
                                                <li><a href="{% url 'employer_payment' %}" class="Profile">Payments</a></li>
                                                {%else%}
                                                <li><a href="{% url 'profile_freelancer' %}" class="Profile">My Profile</a></li>
                                                <li><a href="{% url 'freelancer_payment' %}" class="Profile">Payments</a></li>
                                                {% endif %}
                                                <li><a href="{% url 'login' %}" class="">log out</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% else %}
                                <a href="{% url 'login' %}" class="login">log in</a>
                                <a href="{% url 'signup_global' %}" class="template-btn">sign up</a>
                                {% endif %}
                               
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- Header Area End -->

<!-- Job Single Content Starts -->
<div class="main-container">
<section class="job-single-content py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="main-content">
                    <div class="single-content1">
                        <div class="single-job mb-4 d-lg-flex justify-content-between">
                            <div class="job-text w-100">
                                <h4>{{employer_user.first_name}} {{employer_user.last_name}}</h4>
                                <ul class="mt-4 w-50 d-inline-block">
                                    <li>
                                        <h5><i class="fa fa-envelope-o mr-2"></i> {{employer_user.email}}</h5>
                                    </li>
                                    <li>
                                        <h5><i class="fa fa-address-card-o mr-2"></i>Type: {{employer_profile.employer_type}}</h5>
                                    </li>
                                    <li>
                                        <h5><i class="fa fa-briefcase mr-2"></i> {{employer_project|length}} projects</h5>
                                    </li>
                                    
                                    
                                </ul>
                                <a href="edite_employer" class="third-btn apply-job ">Edit Profile</a>
                            </div>

                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        {% if new_msg %}
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link title" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Waiting posts 
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% for item in employer_project %}
                                        {% if item.status.name == 'New' %}
                                            <div class="row">
                                            <div class="col-lg-12">
                                                <div class="single-content1">
                                                    <div class="single-job inside-list mb-4 d-lg-flex justify-content-between">
                                                        <div class="job-text w-100">
                                                            <div class="job-heading job-heading d-lg-flex justify-content-between">
                                                                <h4>{{item.name}}</h4>
                                                                <span>{{item.postdate}}</span>
                                                            </div>
                                                            <hr>
                                                            <ul class="mt-4 d-inline-block mr-5">
                                                                <li class="mb-3">
                                                                    <h5><i class="fa fa-users mr-2"></i> Applied candidates: <b class="text-custom-green">{{item.applied_freelancer.all|length}}</b></h5>
                                                                </li>
                                                                <li class="mb-3">
                                                                    <h5><i class="fa fa-money mr-2"></i> Budget: <b class="text-custom-green">${{item.budget}}</b></h5>
                                                                </li>
                                                                <li>
                                                                    <h5><i class="fa fa-clock-o mr-2"></i> Time period / hr: <b class="text-custom-green">{{item.timeperiod}}</b></h5>
                                                                </li>
                                                            </ul>
                                                            <a href="job/{{item.id}}" class="green-btn btn-card-right ">Details</a>
                                                            <a class="third-btn btn-card-right no-border" data-toggle="modal" data-target="#delete-post">Delete</a>
                                                           
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="delete-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                              <form method="POST" class="single-btn-form">
                                                     {% csrf_token %}
                                            <div class="modal-content">
                                              <div class="modal-body">
                                                  <p class="delete-icon-modal"><i class="fa fa-times " aria-hidden="true"></i></p>
                                                <p>Are you sure you want to delete post <b></b>{{item.name}}</p>
                                                    <input type="hidden" value="{{item.id}}" name="post-id">
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" name="delete-btn">Yes Delete</button>
                                              </div>
                                            </div>
                                            </form>
                                          </div>
                                        </div>
                                        {%endif%}
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if in_progress_msg %}
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link title collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Inprocess Posts
                                    </button>
                                </h2>
                            </div>
                            
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% for item in employer_project %}
                                        {% if item.status.name == 'In Progress' %}
                                            <div class="row">
                                            <div class="col-lg-12">
                                                <div class="single-content1">
                                                    <div class="single-job inside-list mb-4 d-lg-flex justify-content-between">
                                                        <div class="job-text w-100">
                                                            <div class="job-heading job-heading d-lg-flex justify-content-between">
                                                                <h4>{{item.name}}</h4>
                                                                <span>{{item.postdate}}</span>
                                                            </div>
                                                            <hr>
                                                            <ul class="mt-4 d-inline-block mr-5">
                                                                <li class="mb-3">
                                                                    <h5><i class="fa fa-users mr-2"></i> Completed date: <b class="text-custom-green">{{item.completiondate}}</b></h5>
                                                                </li>
                                                                <li>                                                          
                                                                    <h5><i class="fa fa-clock-o mr-2"></i> Time period / hr: <b class="text-custom-green">{{item.timeperiod}}</b></h5>
                                                                </li>
                                                                <li class="mb-3">
                                                                    <h5><i class="fa fa-user mr-2"></i> Freelancer: <a href="{% url 'view_profile_freelancer' item.freelancer.id %}"><b class="text-custom-green">{{item.freelancer.first_name}} {{item.freelancer.last_name}}</b></a></h5>
                                                                </li>

                                                            </ul>
                                                            <a href="job/{{item.id}}" class="green-btn btn-card-right ">Details</a>
                                                            <a class="third-btn btn-card-right no-border" data-toggle="modal" data-target="#Complete-post">Complete</a>
                                                           
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="Complete-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                              <form method="POST" class="single-btn-form" >
                                                     {% csrf_token %}
                                            <div class="modal-content">
                                              <div class="modal-body">
                                                  <p class="check-icon-modal"><i class="fa fa-check " aria-hidden="true"></i></p>
                                                <p>Are you sure you want to Complete post: <b>{{item.name}}</b></p>
                                                    <input type="hidden" value="{{item.id}}" name="post-id">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" name="stars" aria-describedby="starshelper" placeholder="Stars" min="1" max="5" required="required">
                                                        <small id="starshelper" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3"  name="review-description" placeholder="Review description" required="required"></textarea>
                                                    </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Yes</button>
                                              </div>
                                            </div>
                                            </form>
                                          </div>
                                        </div>
                                        {%endif%}
                                    {% endfor%}
                                </div>
                            </div>
                            
                        </div>
                        {% endif %}
                        
                        {% if done_msg %}
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link title collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Completed
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    {% for item in employer_project %}
                                        {% if item.status.name == 'Done' %}
                                            <div class="row">
                                            <div class="col-lg-12">
                                                <div class="single-content1">
                                                    <div class="single-job inside-list mb-4 d-lg-flex justify-content-between">
                                                        <div class="job-text w-100">
                                                            <div class="job-heading job-heading d-lg-flex justify-content-between">
                                                                <h4>{{item.name}}</h4>
                                                                <span>{{item.postdate}}</span>
                                                            </div>
                                                            <hr>
                                                                                                                        <ul class="mt-4 d-inline-block mr-5">
                                                                <li class="mb-3">
                                                                    <h5><i class="fa fa-check mr-2"></i> Completed date: <b class="text-custom-green">{{item.completiondate}}</b></h5>
                                                                </li>
                                                                <li class="mb-3">                                                          
                                                                    <h5><i class="fa fa-clock-o mr-2"></i> Time period / hr: <b class="text-custom-green">{{item.timeperiod}}</b></h5>
                                                                </li>
                                                                <li class="mb-3">
                                                                    <h5><i class="fa fa-user mr-2"></i> Freelancer: <a href="{% url 'view_profile_freelancer' item.freelancer.id %}"><b class="text-custom-green">{{item.freelancer.first_name}} {{item.freelancer.last_name}}</b></a></h5>
                                                                </li>

                                                            </ul>
                                                            <a href="job/{{item.id}}" class="green-btn btn-card-right ">Details</a>
                                                           
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                        
                                        {%endif%}
                                    {% endfor%}
                                </div>
                        </div>
                        
                    </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</div>
<!-- Job Single Content End -->



{% endblock %}
