{% extends 'base.html' %} {% block content %}
<!-- Header Area Starts -->
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <p>Translat<span>able</span></p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="index.html">home</a></li>
                            <li><a href="#">Freelancers</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Find jobs</a></li>
                                    <li><a href="#">Create profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Employers</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Post job</a></li>
                                    <li><a href="#">Find freelancer</a></li>
                                </ul>
                            </li>
                            <li class="menu-btn">
                                <a href="#" class="login">log in</a>
                                <a href="#" class="template-btn">sign up</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>Sign Up as employer</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Contact Form Starts -->
<section class="contact-form py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-2">
                <form action="#">
                    <div class="left">
                        <input type="text" placeholder="Enter your first name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your first name'" required>
                        <input type="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" required>
                        <input type="password" placeholder="Enter password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" required>
                    </div>
                    <div class="right">
                        <input type="text" placeholder="Enter your last name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your last name'" required>
                        <input type="text" placeholder="Enter username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter username'" required>
                        <input type="password" placeholder="Conform password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Conform password'" required>
                        
                    </div>
                    <button type="submit" class="template-btn">subscribe now</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-2">
                <div class="already-account">
                    <p>Already have an account? <a href="#">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form End -->

{% endblock %}
