{% extends 'base.html' %} {% block content %}
<!-- Header Area Starts -->
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <p>Translat<span>able</span></p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="index.html">home</a></li>
                            <li><a href="#">Freelancers</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Find jobs</a></li>
                                    <li><a href="#">Create profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Employers</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Post job</a></li>
                                    <li><a href="#">Find freelancer</a></li>
                                </ul>
                            </li>
                            <li class="menu-btn">
                                <a href="#" class="login">log in</a>
                                <a href="#" class="template-btn">sign up</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>Sign Up Free Account</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Contact Form Starts -->
<section class="contact-form py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-2">
               <div class="row">
                   <div class="col-lg-6 text-center border-right">
                       <h4>Employer</h4>
                       <p>Post project, find freelancers and hire favorite to work.</p>
                       <p><a href="#" class="template-btn">Sign Up</a></p>
                   </div>
                   <div class="col-lg-6 text-center">
                       <h4>Freelancer</h4>
                       <p>Create professional profile and find editing jobs to work.</p>
                       <p><a href="#" class="template-btn">Sign Up</a></p>
                   </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-2">
                <div class="already-account">
                    <p>Already have an account? <a href="#">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form End -->

{% endblock %}
